.fake-divbar {
    /*base styling*/
    background-color: #EEEEEE;
    margin-top: -1px; /*to keep consistent*/
    padding: 5px;
    text-align: center;
}

h1 {
    font-family: "Avenir Next", "Roboto", "Helvetica";
    color: #FFFFFF;
    font-size: 16pt;
}

.cover {
    /*base styling*/
    background-color: #2A2D55;
    width: 100%;
    margin-top: 150px;
}

.text-box {
    /*base styling*/
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20%;
    padding-right: 20%;

    margin: 0 auto;

}


p {
    /*base styling*/
    font-family: "Avenir Next", "Roboto", "Helvetica";
    color: #FFFFFF;
    font-size: 16pt;
    line-height: 160%;

}
